.student_Navbar, .uni_Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px;
}

.student_Navbar a, .uni_Navbar a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

.student_Navbar a:hover, .uni_Navbar a:hover {
  text-decoration: underline;
}
